<div class="container" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar class="toolbar">
    <i class="material-icons" routerLink="/menu">menu</i>
    <p>Vigisade</p>
  </mat-toolbar>


  <div class="container-down-content">
    <mat-card >
      <mat-card-subtitle>MAI 2019</mat-card-subtitle>
      <mat-card-title class="welcome-detail-text">
        A la Bridoire, la SADE consruira. pour la communauté de communes du Lac d'Aiguebelette, une station d'épuration intercommunale d'eaux usées(10 000 EH extensible à 12 000 EH)
      </mat-card-title>

    </mat-card>
    <div id="welcome-actions-a-traiter">
      <div id="welcome-actions-a-traiter-text">
        {{actions}} Actions à traiter
      </div>
    </div>

    <div class="welcome-down-small-cards">
      <div class="welcome-down-small-cards-content" id="welcome-down-small-cards-content-1">
        <div class="welcome-visit-card">
          3
        </div>
        <span class="welcome-visit-card-text"> Visites ce mois-ci</span>
      </div>
      <div class="welcome-down-small-cards-content" id="welcome-down-small-cards-content-2">
        <div class="welcome-visit-card">
          4
        </div>
        <span class="welcome-visit-card-text"> Visites le mois dernier</span>
      </div>

    </div>
  </div>


  <div class="container-welcome-down-content">
    <button mat-raised-button id="welcome-down-btn-1" class="welcome-down-btn">
      <img src="../../assets/icons/icon-menu/atraiter.png" alt="" class="welcome-down-btn-avatar">
      <span class="welcome-down-btn-text">Nouvelle visite</span>
    </button>
    <button mat-raised-button id="welcome-down-btn-2" class="welcome-down-btn">
      <img src="../../assets/icons/icon-menu/attention.png" alt="" class="welcome-down-btn-avatar">
      <span class="welcome-down-btn-text">Situation dangereuse</span>
    </button>
  </div>
</div>

