<div class="container">
  <div class="container-toolbar">
    <mat-toolbar>
      <mat-icon (click)="goBack()">close</mat-icon>
      <img src="../../assets/images/pwa.png" alt="" id="menu-title-img">
    </mat-toolbar>
  </div>
  <div class="container-list">
    <mat-list>
      <mat-list-item class="menu-list-item" routerLink="/welcome">
        <img src="../../assets/icons/icon-menu/home.png" alt="" class="menu-list-avatar">
        <p class="menu-list-content">Accueil</p>
      </mat-list-item>
      <mat-list-item class="menu-list-item">
        <img src="../../assets/icons/icon-menu/atraiter.png" alt="" class="menu-list-avatar">
        <p class="menu-list-content">A traiter</p>
      </mat-list-item>
      <mat-list-item class="menu-list-item">
        <img src="../../assets/icons/icon-menu/history.png" alt="" class="menu-list-avatar">
        <p class="menu-list-content">Historique des visites</p>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/profile">
        <img src="../../assets/icons/icon-menu/profile.png" alt="" class="menu-list-avatar">
        <p class="menu-list-content">Mon profil</p>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/tutorial">
        <img src="../../assets/icons/icon-menu/info.png" alt="" class="menu-list-avatar">
        <p class="menu-list-content">Tutoriel</p>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/situation-dangerous">
        <img src="../../assets/icons/icon-menu/info.png" alt="" class="menu-list-avatar">
        <p class="menu-list-content">Test Link</p>
      </mat-list-item>
    </mat-list>
  </div>


</div>

